:global {
  .ant-layout {
    //min-height: 100vh;
    //overflow-x: hidden;
    background: #fff;
  }
}

.ISA-tabs .ant-tabs-bar .ant-tabs-tab a{
  color: rgba(0, 0, 0, 0.65);
  text-decoration: none;
}
.ant-tabs.ant-tabs-card > .ant-tabs-bar a:hover{
  color: #1890ff;
}
.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active a{
  color: #1890ff;
}


//设置最小和最大宽度
.ISA-content {
  width:100%;
  max-width:1500px;
  min-width:1024px;
  padding: 0 40px;
  margin-left: auto;
  margin-right: auto;
}

.ISA-fragment {
  width:100%;
  max-width:1500px;
  min-width:1024px;
  padding: 0 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 88px;
}
.ISA-bgColor {
  background: #fff;
}